extends layout

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/bootstrap/carousel.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap/landing-page.css')


block content
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel' data-slide-to='0')
      li(data-target='#myCarousel' data-slide-to='1')
      li(data-target='#myCarousel' data-slide-to='2')
      li(data-target='#myCarousel' data-slide-to='3')
    .carousel-inner
      .item.active
        .slider-size(style='background:url(img/1_1300x500.jpg) center center; background-size:cover;')
          .carousel-caption
            h1 Example headline
            p Behold the first headline for partners in reading
            p
              a.btn.btn-lg.btn-primary(href='/register' role='button') Register today
      .item
        .slider-size(style='background:url(img/6_1300x500.jpg) center center; background-size:cover;')
          .carousel-caption
            h1 Example headline
            p Behold the first headline for partners in reading
            p
              a.btn.btn-lg.btn-primary(href='/register' role='button') Register today
      .item
        .slider-size(style='background:url(img/2_1300x500.jpg) center center; background-size:cover;')
          .carousel-caption
            h1 Example headline
            p Behold the first headline for partners in reading
            p
              a.btn.btn-lg.btn-primary(href='/register' role='button') Register today
      .item
        .slider-size(style='background:url(img/3_1300x500.jpg) center center; background-size:cover;')
          .carousel-caption
            h1 Example headline
            p Behold the first headline for partners in reading
            p
              a.btn.btn-lg.btn-primary(href='/register' role='button') Register today
    a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
      span.glyphicon.glyphicon-chevron-right

  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6  
          hr.section-heading-spacer
          .clearfix
          h2.section-heading About the Program
          p.lead.
            Every fall and spring semester, we pair college students with grade school students to read together and enjoy the library.  
            The pairs meet once a week for 45 minutes, throughout the semester.
            Children in 1st through 6th grades are welcome to participate in fall and spring sessions.  
            In the spring, kindergartners are welcome to join in, too!
            Meeting times are flexible! Participants may select any 45 minutes on Mondays through Thursdays from 3:30 through 8:00 pm.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='img/5_square.jpg' alt='')
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading Interested Parents
          p.lead.
            The goal is to foster a lifelong love of reading and of the library. 
            Partners in Reading is not a tutoring program. We try really hard to match every child that signs up for the program. 
            We hope you will understand that the number of kids matched depends on the number of college students that register.
        .col-lg-5.col-sm-pull-6.col-sm-6
          img.img-responsive(src='img/7_square.jpg' alt='')
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6  
          hr.section-heading-spacer
          .clearfix
          h2.section-heading College Students
          p.lead.
            We do require that volunteers participate in an orientation session before you start the program. 
            There is a lot to learn! We also require that volunteers undergo a criminal background screen before you can be matched. 
            The library reserves the right to choose the volunteers that are able to participate in the program.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='img/5_square.jpg' alt='')

  script(type='text/javascript').
    $(document).ready(function(){
      $('.carousel').carousel();
    });

