extends layout

block append scripts
  script(src='javascripts/register.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js')

block append stylesheets
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css')
  link(rel='stylesheet' href='stylesheets/register.css')

block content
  .container(style='margin: 10px')
    .row
      h3 Account Registration
    //- .row
      .step-titles
        .step-1
          span Step 1
        .step-2
          span Step 2
        .step-3
          span Step 3
        .step-4
          span Step 4
    .row
      #step-contents.col-md-6.well
        #step-1
          h4 User Information
          #user-email-div.form-group.has-feedback
            label.control-label(for='user-email') Email address
            div
              input#user-email.form-control(type='email' name='email' placeholder='Email address' autofocus)
              span#user-email-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
              p#user-email-info.text-danger
          #user-password-div.has-feedback
            .form-group.has-feedback
              label.control-label(for='user-password') Password
              input#user-password.form-control(type='password' name='password' placeholder='Enter password')
              span.user-password-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
              //- p#user-password-info
            .form-group.has-feedback
              label.control-label(for='user-password-conf') Confirm password
              input#user-password-conf.form-control(type='password' name='conf_password' placeholder='Confirm password')
              span.user-password-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
              //- p#user-password-conf-info
            p#user-password-info.text-danger
          .form-group
            button#next-1.btn.btn-primary.pull-right Next
        #step-2.hidden
          h4 User Type
          #user-type-div.form-group.has-feedback
            label Are you a parent or volunteer?
            .radio
              label
                input#user-type-parent(name='type' type='radio' value='p')
                | Parent
            .radio
              label
                input#user-type-volunteer(name='type' type='radio' value='v')
                | Volunteer
            span#user-type-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#user-type-info.text-danger
          .form-group
            button#next-2.btn.btn-primary.pull-right Next
            button#back-2.btn.btn-primary.pull-right Back
        #step-3.hidden
          h4 Basic Information
          #first-name-div.form-group.has-feedback
            label(for='first-name') First name
            input#first-name.form-control(name='first_name' placeholder='First Name')
            span#first-name-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#first-name-info
          #last-name-div.form-group.has-feedback
            label(for='last-name') Last name
            input#last-name.form-control(name='last_name' placeholder='Last Name')
            span#last-name-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#last-name-info
          #phone-div.form-group.has-feedback
            label(for='phone') Phone number
            input#phone.form-control(name='phone' type='tel' data-mask='999-999-9999' placeholder='Phone Number')
            span#phone-span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#phone-info
          .form-group
            button#next-3.btn.btn-primary.pull-right.hidden Next
            button#done-1.btn.btn-primary.pull-right.hidden Done
            button#back-3.btn.btn-primary.pull-right Back
        #step-4.hidden
          h4 Volunteer Information
          .form-group.has-feedback
            label(for='volunteer-affiliation') What college are you attending?
            input#volunteer-affiliation.form-control(name='affiliation' placeholder='College')
            span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#volunteer-affiliation-info
          .form-group.has-feedback
            label What is your gender?
            <br>
            label.radio-inline
              input#gender-female(name='gender' type='radio' value='f')
              | Female
            label.radio-inline
              input#gender-male(name='gender' type='radio' value='m')
              | Male
            span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#volunteer-gender-info
          .form-group
            label Would you like to be paired with two children?
            <br>
            label.radio-inline
              input#two-children-yes(name='two_readers' type='radio' value='true')
              | Yes
            label.radio-inline
              input#two-children-no(name='two_readers' type='radio' value='false')
              | No
          .form-group
            label Are you special education?
            <br>
            label.radio-inline
              input#special-education-yes(name='special_ed' type='radio' value='true')
              | Yes
            label.radio-inline
              input#special_education-no(name='special_ed' type='radio' value='false')
              | No
          .form-group
            label Are you language education?
            <br>
            label.radio-inline
              input#language-education-yes(name='language_ed' type='radio' value='true')
              | Yes
            label.radio-inline
              input#language_education-no(name='language_ed' type='radio' value='false')
              | No
          .form-group.has-feedback
            label(for='volunteer-about-me') Tell us about yourself
            textarea#volunteer-about-me.form-control(name='about_me' rows='4')
            span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
            p#volunteer-about-me-info
          .form-group
            button#done-2.btn.btn-primary.pull-right Done
            button#back-4.btn.btn-primary.pull-right Back
    .row
      #registration-success.col-md-6.hidden
        h4 You're registered!
        p.
          Thank you for registering for the program.<br>
          Please check your email for your verification email.<br>
          You will not be allowed to log in until you have verified your email address.