<html>
  <head>
  </head>
  <body>
    <h2>Partners In Reading</h2>
    <p>
    You have just successfully activated your account!
    </p>
    <p>
    You can now log in and continue using our application.
    </p>
  </body>
</html>