extends layout

block content
  .container
    h3 Reset Password
    .row
      .col-sm-6.well
        p Enter your email below and we'll send you a link to reset your password
        .form-group.has-feedback
          label.control-label(for='email') Email address
          input#email.form-control(name='email' type='email' placeholder='Email address' autofocus)
          span.glyphicon.glyphicon-remove.form-control-feedback.error-icon-hidden
          p.text-danger
        .form-group
          button#btn-submit.btn.btn-primary Submit
