<html>
  <head>
  </head>
  <body>
    <h2>Partners In Reading</h2>
    <p>
    Hello New User!
    </p>
    <p>
    Please follow the link to confirm your email
    </p>
    <p>
    <a href="{{url}}">{{url}}</a>
    </p>
  </body>
</html>